h1.a{
    color:red;
}
span.c{
    color:aqua;
}
span.d{
    color:blueviolet;
}
.e{
    color:crimson;
}
sub.e{
    color:chartreuse;
}
.f{
    color:black;
}
h1.g{
    color:burlywood;
}
h2.h{
    color:fuchsia;
}
.i{
    color:gray;
}
.j{
    color:hotpink;
}
span.o{
    color:lime;
}
span.p{
    color:peru
}
span.q{
    color:gold;
}
span.r{
    color:mediumseagreen;
}
span.t{
    color:navy;
}
span.u{
    color:orchid;
}
span.v{
    color:rebeccapurple;
}
span.w{
    color:seashell;
}
sub.x{
    color:teal;
}
span.y{
    color:palevioletred;
}